body{
    margin:0;
    padding:0;
    font-family:Helvetica, sans-serif;
}
header{
    position:fixed;
    height:110px;
    width:100vw;
    border-bottom:1px solid black;
}
h1{
    position:fixed;
    top:-10px;
    left:20px;
    color:grey;
}
nav{
    position:fixed;
    height:30px;
    width:100%;
    top:95px;
    left:0;
}
nav ul{
     list-style-type:none;
    padding:0;
    margin:0;
    display:flex;
    justify-content:center;
}
nav ul li{
    width:200px;
    height:30px;
    line-height:30px;
}
nav ul li a{
    display:block;
    width:200px;
    margin:0;
    text-decoration:none;
    text-align:center;
    color:grey;

}
nav ul li a:hover{
    text-decoration:none;
    color:rgb(46, 174, 172);
}
a{
    display:inline-block;
    text-decoration:none;
    color:grey; 
}
a:hover{
    text-decoration:none;
    color:rgb(46, 174, 172);
}
section{
    position:relative;
    top:120px;
    text-align:center;
}
.listepatients{
    position:relative;
    top:20px;
    padding:0;
    margin:0;
}
.listepatients p{
    margin-bottom:0;
}
#monform{
    position:fixed;
    top:10px;
    left:calc(100vw - 430px);
}
table{
    position:relative;
    width:900px;
    left:calc(50% - 450px);
    border-collapse: collapse;
}
table th, table tr, table td{
    width:300px;
    height:20px;
    text-align: center;
    border:1px solid black;
}